extends layout

block content
	script(src="/javascripts/lib/three.min.js")
	script(src="/javascripts/lib/orbit-controls.js")
	nav.navbar.navbar-default
		div.container-fluid
			div.navbar-header
			div.collapse.navbar-collapse
				ul.nav.navbar-nav
					li 
						a#about-menu about 
					li 
						a#cv-menu cv
					li 
						a#blog-menu examples
					li 
						a#physics-menu physics


	div.container.block-center
		div#transform-container
			div#mainTransform
				div.main#selector
					div#blog-select.text-center
						h2 Examples 
					div#cv-select.text-center
						h2 CV
					div#about-select.text-center
						h2 About
					div#physics-select.text-center
						h2 Contact
				div.main#blog
					div#blog-content
						h4= entry.title
						each item in entry.content
							p(class= item.parStyle)= item.par
				div.main#cv
					div#cv-content
						include ./main/cv.pug			
				div.main#about
					div#about-content
						include ./main/about.pug
				div.main#physics
					div#physics-content
						h4 Contact

	script= testScript
	script(src="/javascripts/index.js")
	script(src="/javascripts/physicsExamples/axes.js")