extends layout

block content
	nav.navbar.navbar-default
		div.container-fluid
			div.navbar-header
			div.collapse.navbar-collapse
				ul.nav.navbar-nav
					li 
						a#about-menu about 
					li 
						a#cv-menu cv
					li 
						a#blog-menu examples
					li 
						a#physics-menu physics


	div.container.block-center
		div#transform-container
			div#mainTransform
				div.main#selector
					div#blog-select.text-center
						h2 Examples
					div#cv-select.text-center
						h2 CV
					div#about-select.text-center
						h2 About
					div#physics-select.text-center
						h2 Physics 
				div.main#blog
					div#blog-content
						h4 blog
				div.main#cv
					div#cv-content
						h4 cv
				div.main#about
					div#about-content
						h4 Why this site exists
						p.
							One of the first things I was told when I was trying to become a professional developer was that I needed a website.
							However, I never really thought something should be brough into existence for the sake of existing. After all, potential employers can find information about me in many various locations, and my developer peers - many of whom are light years ahead in skills and knowledge will balk at the idea of visiting this lonely corner of the interweb. 
						</p>

						p.
							Then why this site?
						</p>
						p.
							Partly, I thought of an interesting concept I wanted to demonstrate with 3d transitions. Mainly, I finally gained enough knowledge where I felt comfortable playing, and needed my own playground. 
							So this website represents my own private (but at the same time informationitely public) space. 
							It is here that I try new ideas, and follow the things I am most passionate about namely physics, math, development and education.
						</p>

						p.
							You, my imaginary visitor or friend will find an examples section on the other side. As I am writing this now, it is entirely empty, as you read this in the future I hope it will be populated with ideas. Ideas that may have never seen the light of day had I not created this site, and would not be fully expressed lest I write them into existence. 
						</p>

						p.
							For as much as one downplays the worth of one's work, secretly, I think, we all hope that someone out there takes a momentary glace as they wonder by.
						</p>
				div.main#physics
					div#physics-content
						h4 physics
	script.

		var removeActive = function () {
			$('.active').removeClass('active',300);
			$('.active-background').removeClass('.active-background',300);
		};

		$('#selector div').click(function(){
			var id = $(this)[0].id;
			var rotate = 'rotate'
			var resizeID = '#';
			switch(id) {
				case 'blog-select':
					rotate+='Y(90deg)';
					resizeID +='blog';
					break;
				case 'cv-select':
					rotate+='X(-90deg)';
					resizeID +='cv';
					break;
				case 'about-select':
					rotate+='X(90deg)';
					resizeID +='about';
					break;
				case 'physics-select':
					rotate+='Y(-90deg)';
					resizeID +='physics';
					break;
			}
			$('#mainTransform').css('transform',rotate);
			$('#transform-container').addClass('active-background',700);
			$(resizeID).addClass('active',700);
			$('.navbar').show(700);

		});

		$('.nav li a').click(function(){
			var id = $(this)[0].id;
			var rotate = 'rotate';
			var resizeID = '#';
			$('.active').removeClass('active',300);
			switch(id) {
				case 'blog-menu':
					rotate+='Y(90deg)';
					resizeID+='blog';
					break;
				case 'cv-menu':
					rotate+='X(-90deg)';
					resizeID+='cv';
					break;
				case 'about-menu':
					rotate+='X(90deg)';
					resizeID+='about';
					break;
				case 'physics-menu':
					rotate+='Y(-90deg)';
					resizeID+='physics';
					break;
			}
			$('#transform-container').addClass('active-background',700);
			$(resizeID).addClass('active',700);
			
			$('#mainTransform').css('transform',rotate);
		});

		$('.navbar-header').click(function(){
			//add if statement for where you currently are
			$('#mainTransform').css('transform','rotateX(0deg)').css('transform','rotateY(0deg)');
			removeActive();

			$('.navbar').hide(700);
		});



		//starting three.js script
		var scene = new THREE.Scene();
		var width = 50;
		var height = $('.navbar').height();
		var camera = new THREE.PerspectiveCamera(75, width/height,0.1,1000);
		var renderer = new THREE.WebGLRenderer({alpha: true});
		renderer.setSize(width, height);
		$('.navbar-header').append( renderer.domElement);

		var geometry = new THREE.BoxGeometry( 1, 1, 1 );
		
		var ca = [0xFF7115, 0xFF7115, 0x12D8B1,0x12D8B1,0xFFA615,0xFFA615];
		
		console.log(geometry.faces.length);
		for (var i = 0; i<geometry.faces.length; i++) {
			geometry.faces[i].color.setHex(ca[Math.floor(i/2)%3]);
		}
		var material = new THREE.MeshBasicMaterial({ color: 0xffffff, vertexColors: THREE.FaceColors });
		var cube = new THREE.Mesh( geometry, material );
		var edges = new THREE.EdgesHelper( cube, 0x2373DA );
		scene.add(edges);
		camera.position.z = 1.7;
		var directionalLight = new THREE.DirectionalLight( 0xffffff, 1  );
		directionalLight.position.set( 0, 0, 1 );

		scene.add(directionalLight);
		scene.add(cube);

		function render() {
			cube.rotation.x += 0.01;
			cube.rotation.y += 0.02;
			requestAnimationFrame( render );
			renderer.render( scene, camera );
		}
		render();



	</script>