doctype html
html
  head
    title= title
    link(rel='stylesheet',type='text/css', href='/stylesheets/main.css')
    link(rel="stylesheet",type='text/css', href='/stylesheets/bootstrap.min.css')
    script(src="/javascripts/lib/jquery.min.js") 
    script(src="/javascripts/lib/jquery-ui.min.js")
    script(src="/javascripts/lib/bootstrap.min.js")
    
  body
    block content
