@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
.navbar-nav #about-menu:hover {
  color: #FF7115; }

.navbar-nav #cv-menu:hover {
  color: #12D8B1; }

.navbar-nav #blog-menu:hover {
  color: #FFA615; }

.navbar-nav #physics-menu:hover {
  color: #2373DA; }

a, .navbar-header {
  cursor: pointer; }

.navbar-header canvas:hover {
  width: 100px !important;
  height: 100px !important; }

#about-content {
  padding: 10px;
  overflow-y: auto;
  width: 100%;
  height: 100%; }

#cv-content {
  padding: 10px;
  overflow-y: scroll;
  width: 100%;
  height: 100%; }
  #cv-content div {
    border-bottom: 2px solid #4F92E5; }
  #cv-content h4 {
    position: relative;
    float: left; }

.main {
  height: 360px;
  width: 360px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

#transform-container {
  perspective: 12000px;
  margin-top: 250px;
  margin-bottom: 600px; }

.clickableContainer {
  height: 100%;
  width: 100%; }

#mainTransform {
  transform-style: preserve-3d;
  transition: transform 1s;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.active-background {
  margin-top: 350px !important;
  margin-bottom: 800px !important; }

.active {
  width: 500px;
  height: 650px; }

#blog {
  transform: rotateY(-90deg) translateZ(180px);
  border: 1px solid #FFA615;
  background-color: white; }

#cv {
  transform: rotateX(90deg) translateZ(180px);
  border: 1px solid #12D8B1;
  background-color: white; }

#about {
  transform: rotateX(-90deg) translateZ(180px);
  border: 1px solid #FF7115;
  background-color: white; }

#physics {
  transform: rotateY(90deg) translateZ(180px);
  border: 1px solid #2373DA;
  background-color: white; }

.active {
  width: 500px;
  height: 600px; }

#selector {
  transform: translateZ(180px);
  border: 2px solid #999;
  box-shadow: 0px 0px 3px 3px #999; }
  #selector div:hover {
    box-shadow: 0px 0px 1px 1px #777; }
  #selector div {
    height: 160px;
    width: 160px;
    position: relative;
    display: inline-block;
    margin: 9px; }
  #selector h2 {
    font-family: "Libre Baskerville", serif;
    font-spacing: 4px;
    width: 90%;
    font-size: 95%; }
  #selector #blog-select {
    background-color: #FFA615; }
  #selector #cv-select {
    background-color: #12D8B1;
    color: white; }
  #selector #about-select {
    background-color: #FF7115;
    color: white; }
  #selector #physics-select {
    background-color: #2373DA; }
