$main-color: #00ff37;
$blog-color: #FFA615;
$cv-color: #12D8B1;
$about-color: #FF7115;
$physics-color: #2373DA;
$contact-color: #D4AFE5;
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(https://fonts.googleapis.com/css?family=Lora);
$main-font: 'Libre Baskerville', serif;
$cv-font: 'Lora', serif;



.left-border {
	border-left: 1px dashed $main-color;
}

/* spacer classes start */
.no-left-margin {
	padding-left: 0px !important;
	padding-right: 0px !important;
}


.main {
	height: 360px;
	width: 360px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
}

#transform-container {
	perspective: 12000px;
	height: 800px;
	margin: -70px 0 150px 0;
}

#transform-container.no-margin {
	margin: 0px !important;
}

.clickableContainer {
	height: 100%;
	width: 100%;
}

#mainTransform {
	transform-style: preserve-3d;
	transition: transform .2s;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	transform: translateZ(-180px);

}

.active-background {
	margin: 0 !important;
}

#blog {
	transform: rotateY(-90deg) translateZ(180px);
	border: 5px solid $blog-color;
	background-color:white;
}

#cv {
	transform: rotateX(90deg) translateZ(180px);
	border: 5px solid $cv-color;
	background-color:white;
}

#about {
	transform: rotateX(-90deg) translateZ(180px);
	border: 5px solid $about-color;
	background-color:white;
}

#physics {
	transform: rotateY(90deg) translateZ(180px);
	border: 5px solid $physics-color;
	background-color:white;
}

#contact {
	transform: rotateY(180deg) translateZ(180px);
	border: 5px solid $contact-color;
	background-color:white;
}

.active {
	width: 100%;
	height: 100%;
}



#selector{
	transform: translateZ(180px);
	border: 3px solid $main-color;
	div:hover {
		box-shadow: 0px 0px 1px 1px #777;
	}

	div {
		height: 160px;
		width: 160px;
		position: relative;
		display: inline-block;
		margin: 8px;
	}

	h2 {
		font-family: $main-font;
		font-spacing: 4px;
		width: 100%;
		font-size: 95%;
	}

	p {
		display: inline;
		font-size: 95%;
	}

	#blog-select {
		background-color: $blog-color;
	}
	#cv-select {
		background-color: $cv-color;
		color: white;
	}
	#about-select {
		background-color: $about-color;
		color: white;
	}
	#physics-select {
		background-color: $physics-color;
	}
}

#cv-content {
	padding: 40px;
	overflow-y: auto;
	height: 100%;
	div#cv-header {
		background-image: url('/images/indexImages/header.jpg');
		broder: 2px solid $cv-color;
		background-size: 100%;
		width: 100%;
		height: 30%;

		h3 {
			font-family: $cv-font;
			font-weight: bold;
			letter-spacing: 3px;
			position: relative;
			float: left;
			margin: 3px;
			padding:2px;
			color: $about-color;
			border-bottom: 1px solid $about-color;
		}
	

	}
	div.section {
		padding: 40px;
		h4 {
			font-family: $cv-font;
			font-weight: bold;
			letter-spacing: 3px;
			position: relative;
			float: left;
			padding: 6px;
			margin-right: 5px;
		}

		p {

		}

		span.date {

		}

	}
}
#about-content {
	padding: 40px;
	overflow-y:auto;
	width: 100%;
	height: 100%;
}

#physics-content {
	padding: 40px;
	overflow-y:auto;
	width: 100%;
	height: 100%;
}

#contact-content {
	padding: 40px;
	overflow-y:auto;
	width: 100%;
	height: 100%;
}
#blog-content {
	padding: 40px;
	overflow-y:auto;
	width: 100%;
	height: 100%;
	.code {
		padding: 10px;
		white-space: pre-wrap;
		border: 1px solid $physics-color;
		box-shadow: 0px 0px 5px 5px $physics-color;
	}
	p.c-code {
	}
}



.cover {
	position: absolute;
	width: 350px;
	height: 350px;
	z-index: 30;

	span {
		font-size: 50px;
		width: 25px;
		height: 25px;
		margin: auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
	}

	&#cv-cover{
		background-color: $cv-color;
	}

	&#about-cover{
		background-color: $about-color;
	}

	&#blog-cover{
		background-color: $blog-color;
	}

	&#contact-cover{
		background-color: $contact-color;
	}

	&#physics-cover{
		background-color: $physics-color;
	}
}

/* border classes end */


#header-divider {
	border-bottom: 1px dashed $main-color;
	z-index: 10;

	.right-border {
		border-right: 1px dashed $main-color;
		z-index: 20;
	}

	#main-header {
		z-index: 10;

		div.header-container {
			margin-left: 50px;
			margin-top: 45px;
			font-family: $cv-font;
			h1 {
				letter-spacing: 5px;
				font-weight: bold;
			}
			.row {
				font-size: larger;
				font-spacing: 2px;
				font-weight: bold;
				span {
					cursor: pointer;
					padding: 3px;
					border-radius: 2px;
					span {
						padding: 4px;
					}
				}
				#blog-h {
					color: $blog-color;
					&:hover {
						box-shadow: 0px 4px 2px -2px $blog-color;
					}
				}
				#cv-h {
					color: $cv-color;
					&:hover {
						box-shadow: 0px 4px 2px -2px $cv-color;
					}
				}
				#about-h {
					color: $about-color;
					&:hover {
						box-shadow: 0px 4px 2px -2px $about-color;
					}
				}
				#physics-h {
					color: $physics-color;
					&:hover {
						box-shadow: 0px 4px 2px -2px $physics-color;
					}
				}
				#contact-h {
					color: $contact-color;
					&:hover {
						box-shadow: 0px 4px 2px -2px $contact-color;
					}
				}
			}
		}
	}

	#navigation {
		border-radius: 50%;
		border: 2px solid red;
		box-shadow: 0px 0px 5px 5px red;
		height: 120px;
		width: 120px;
		margin-top: 30px;
		margin-bottom: 40px;
		margin-left: 25px;

		&:hover {
			border: 2px solid $physics-color;
			box-shadow: 0px 0px 5px 5px $physics-color;
		}

		&:hover.selected {
			border: 2px solid $cv-color;
			box-shadow: 0px 0px 5px 5px $cv-color;
		}

		canvas {
			cursor: pointer;
		}
	}

	@media screen and (max-width: 1201px) {
		.right-border {
			border-right: 0px;
		}

		.glyphicon {
			display: none;
		}
	}

	@media screen and (max-width: 992px) {

	}

	@media screen and (max-width: 710px) {
		#navigation {
			display: none;
		}

		#main-header {
			width: 100%;
		}

		#header-divider {
			width: 0px;
		}
	}
}














