@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(https://fonts.googleapis.com/css?family=Lora);
.left-border {
  border-left: 1px dashed #00ff37; }

/* spacer classes start */
.no-left-margin {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.main {
  height: 360px;
  width: 360px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

#transform-container {
  perspective: 12000px;
  height: 800px;
  margin: -70px 0 150px 0; }

#transform-container.no-margin {
  margin: 0px !important; }

.clickableContainer {
  height: 100%;
  width: 100%; }

#mainTransform {
  transform-style: preserve-3d;
  transition: transform .2s;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateZ(-180px); }

.active-background {
  margin: 0 !important; }

#blog {
  transform: rotateY(-90deg) translateZ(180px);
  border: 5px solid #FFA615;
  background-color: white; }

#cv {
  transform: rotateX(90deg) translateZ(180px);
  border: 5px solid #12D8B1;
  background-color: white; }

#about {
  transform: rotateX(-90deg) translateZ(180px);
  border: 5px solid #FF7115;
  background-color: white; }

#physics {
  transform: rotateY(90deg) translateZ(180px);
  border: 5px solid #2373DA;
  background-color: white; }

#contact {
  transform: rotateY(180deg) translateZ(180px);
  border: 5px solid #D4AFE5;
  background-color: white; }

.active {
  width: 100%;
  height: 100%; }

#selector {
  transform: translateZ(180px);
  border: 3px solid #00ff37; }
  #selector div:hover {
    box-shadow: 0px 0px 1px 1px #777; }
  #selector div {
    height: 160px;
    width: 160px;
    position: relative;
    display: inline-block;
    margin: 8px; }
  #selector h2 {
    font-family: "Libre Baskerville", serif;
    font-spacing: 4px;
    width: 100%;
    font-size: 95%; }
  #selector p {
    display: inline;
    font-size: 95%; }
  #selector #blog-select {
    background-color: #FFA615; }
  #selector #cv-select {
    background-color: #12D8B1;
    color: white; }
  #selector #about-select {
    background-color: #FF7115;
    color: white; }
  #selector #physics-select {
    background-color: #2373DA; }

#cv-content {
  padding: 40px;
  overflow-y: auto;
  height: 100%; }
  #cv-content div#cv-header {
    background-image: url("/images/indexImages/header.jpg");
    broder: 2px solid #12D8B1;
    background-size: 100%;
    width: 100%;
    height: 30%; }
    #cv-content div#cv-header h3 {
      font-family: "Lora", serif;
      font-weight: bold;
      letter-spacing: 3px;
      position: relative;
      float: left;
      margin: 3px;
      padding: 2px;
      color: #FF7115;
      border-bottom: 1px solid #FF7115; }
  #cv-content div.section {
    padding: 40px; }
    #cv-content div.section h4 {
      font-family: "Lora", serif;
      font-weight: bold;
      letter-spacing: 3px;
      position: relative;
      float: left;
      padding: 6px;
      margin-right: 5px; }

#about-content {
  padding: 40px;
  overflow-y: auto;
  width: 100%;
  height: 100%; }

#physics-content {
  padding: 40px;
  overflow-y: auto;
  width: 100%;
  height: 100%; }

#contact-content {
  padding: 40px;
  overflow-y: auto;
  width: 100%;
  height: 100%; }

#blog-content {
  padding: 40px;
  overflow-y: auto;
  width: 100%;
  height: 100%; }
  #blog-content .code {
    padding: 10px;
    white-space: pre-wrap;
    border: 1px solid #2373DA;
    box-shadow: 0px 0px 5px 5px #2373DA; }

.cover {
  position: absolute;
  width: 350px;
  height: 350px;
  z-index: 30; }
  .cover span {
    font-size: 50px;
    width: 25px;
    height: 25px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .cover#cv-cover {
    background-color: #12D8B1; }
  .cover#about-cover {
    background-color: #FF7115; }
  .cover#blog-cover {
    background-color: #FFA615; }
  .cover#contact-cover {
    background-color: #D4AFE5; }
  .cover#physics-cover {
    background-color: #2373DA; }

/* border classes end */
#header-divider {
  border-bottom: 1px dashed #00ff37;
  z-index: 10; }
  #header-divider .right-border {
    border-right: 1px dashed #00ff37;
    z-index: 20; }
  #header-divider #main-header {
    z-index: 10; }
    #header-divider #main-header div.header-container {
      margin-left: 50px;
      margin-top: 45px;
      font-family: "Lora", serif; }
      #header-divider #main-header div.header-container h1 {
        letter-spacing: 5px;
        font-weight: bold; }
      #header-divider #main-header div.header-container .row {
        font-size: larger;
        font-spacing: 2px;
        font-weight: bold; }
        #header-divider #main-header div.header-container .row span {
          cursor: pointer;
          padding: 3px;
          border-radius: 2px; }
          #header-divider #main-header div.header-container .row span span {
            padding: 4px; }
        #header-divider #main-header div.header-container .row #blog-h {
          color: #FFA615; }
          #header-divider #main-header div.header-container .row #blog-h:hover {
            box-shadow: 0px 4px 2px -2px #FFA615; }
        #header-divider #main-header div.header-container .row #cv-h {
          color: #12D8B1; }
          #header-divider #main-header div.header-container .row #cv-h:hover {
            box-shadow: 0px 4px 2px -2px #12D8B1; }
        #header-divider #main-header div.header-container .row #about-h {
          color: #FF7115; }
          #header-divider #main-header div.header-container .row #about-h:hover {
            box-shadow: 0px 4px 2px -2px #FF7115; }
        #header-divider #main-header div.header-container .row #physics-h {
          color: #2373DA; }
          #header-divider #main-header div.header-container .row #physics-h:hover {
            box-shadow: 0px 4px 2px -2px #2373DA; }
        #header-divider #main-header div.header-container .row #contact-h {
          color: #D4AFE5; }
          #header-divider #main-header div.header-container .row #contact-h:hover {
            box-shadow: 0px 4px 2px -2px #D4AFE5; }
  #header-divider #navigation {
    border-radius: 50%;
    border: 2px solid red;
    box-shadow: 0px 0px 5px 5px red;
    height: 120px;
    width: 120px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 25px; }
    #header-divider #navigation:hover {
      border: 2px solid #2373DA;
      box-shadow: 0px 0px 5px 5px #2373DA; }
    #header-divider #navigation:hover.selected {
      border: 2px solid #12D8B1;
      box-shadow: 0px 0px 5px 5px #12D8B1; }
    #header-divider #navigation canvas {
      cursor: pointer; }
  @media screen and (max-width: 1201px) {
    #header-divider .right-border {
      border-right: 0px; }
    #header-divider .glyphicon {
      display: none; } }
  @media screen and (max-width: 710px) {
    #header-divider #navigation {
      display: none; }
    #header-divider #main-header {
      width: 100%; }
    #header-divider #header-divider {
      width: 0px; } }

/*# sourceMappingURL=main.css.map */
