$main-color: #5C080F;
$blog-color: #FFA615;
$cv-color: #12D8B1; 
$about-color: #FF7115;
$physics-color: #2373DA;
$contact-color: #D4AFE5;
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
$main-font: 'Libre Baskerville', serif;

canvas {
	cursor: pointer;
}

#navigation {
	border-radius: 50%;
	border: 2px solid red;
	box-shadow: 0px 0px 5px 5px red;
}

#navigation:hover {
	border: 2px solid $physics-color;
	box-shadow: 0px 0px 5px 5px $physics-color;
}

#navigation:hover.selected {
	border: 2px solid $cv-color;
	box-shadow: 0px 0px 5px 5px $cv-color;
}

#about-content {
	padding: 20px;
	overflow-y:auto;
	width: 100%;
	height: 100%;
}

#blog-content {
	padding: 20px;
	overflow-y:auto;
	width: 100%;
	height: 100%;
}

#physics-content {
	padding: 20px;
	overflow-y:auto;
	width: 100%;
	height: 100%;
}

#contact-content {
	padding: 20px;
	overflow-y:auto;
	width: 100%;
	height: 100%;
}

#navigation {
	position: fixed;
	left: 25px;
	top: 25px;
}


.main {
	height: 360px;
	width: 360px; 
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
}

#transform-container {
	perspective: 12000px;
	margin-top: 350px;
	margin-bottom: 600px;	
}

.clickableContainer {
	height: 100%;
	width: 100%;
}

#mainTransform {
	transform-style: preserve-3d;
	transition: transform .2s;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	transform: translateZ(-180px);
	
}

.active-background {
		margin-top:350px !important;
		margin-bottom:800px !important;
}

#blog {
	transform: rotateY(-90deg) translateZ(180px);
	border: 5px solid $blog-color;
	background-color:white;
}

#cv {
	transform: rotateX(90deg) translateZ(180px);
	border: 5px solid $cv-color;
	background-color:white;
}

#about {
	transform: rotateX(-90deg) translateZ(180px);
	border: 5px solid $about-color;
	background-color:white;
}

#physics {
	transform: rotateY(90deg) translateZ(180px);
	border: 5px solid $physics-color;
	background-color:white;
}

#contact {
	transform: rotateY(180deg) translateZ(180px);
	border: 5px solid $contact-color;
	background-color:white;
}

.active {
	width: 600px;
	height: 600px;
}



#selector{
	transform: translateZ(180px);
	border: 3px solid $main-color;
	div:hover {
		box-shadow: 0px 0px 1px 1px #777;
	}

	div {
		height: 160px;
		width: 160px;
		position: relative;
		display: inline-block;
		margin: 8px;
	}

	h2 {
		font-family: $main-font;
		font-spacing: 4px;
		width: 100%;
		font-size: 95%;
	}

	p {
		display: inline;
		font-size: 95%;
	}

	#blog-select {
		background-color: $blog-color;
	}
	#cv-select {
		background-color: $cv-color;
		color: white;
	}
	#about-select {
		background-color: $about-color;
		color: white;
	}
	#physics-select {
		background-color: $physics-color;
	}
}

#cv-content {
	padding: 10px;
	overflow-y: auto;
	height: 100%;
	div#cv-header {
		background-image: url('/images/indexImages/header.jpg');
		width: 100%;
		height: 230px;
		padding: 5px;
		margin-right: 10px;
		overflow-y:auto;
		
		h3 {
			position: relative;
			float: left;
			margin: 3px;
			padding:2px;
			color: $about-color;
			border-bottom: 1px solid $about-color;
		}
	

	}

	
	div.section {
		h4 {
			position: relative;
			float: left;
			padding: 6px;
			margin-right: 5px;
		}

		p {

		}

		span.date {

		}

	}
}

#blog-content {

	.code {
		background-color: rgba(157, 157, 157, 0.63);
	}
	p.c-code {
		white-space: pre-wrap;
	}
}






