@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
canvas {
  cursor: pointer; }

#navigation {
  border-radius: 50%;
  border: 2px solid red;
  box-shadow: 0px 0px 5px 5px red; }

#navigation:hover {
  border: 2px solid #2373DA;
  box-shadow: 0px 0px 5px 5px #2373DA; }

#navigation:hover.selected {
  border: 2px solid #12D8B1;
  box-shadow: 0px 0px 5px 5px #12D8B1; }

#about-content {
  padding: 20px;
  overflow-y: auto;
  width: 100%;
  height: 100%; }

#blog-content {
  padding: 20px;
  overflow-y: auto;
  width: 100%;
  height: 100%; }

#physics-content {
  padding: 20px;
  overflow-y: auto;
  width: 100%;
  height: 100%; }

#contact-content {
  padding: 20px;
  overflow-y: auto;
  width: 100%;
  height: 100%; }

#navigation {
  position: fixed;
  left: 25px;
  top: 25px; }

.main {
  height: 360px;
  width: 360px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

#transform-container {
  perspective: 12000px;
  margin-top: 350px;
  margin-bottom: 600px; }

.clickableContainer {
  height: 100%;
  width: 100%; }

#mainTransform {
  transform-style: preserve-3d;
  transition: transform .2s;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateZ(-180px); }

.active-background {
  margin-top: 350px !important;
  margin-bottom: 800px !important; }

#blog {
  transform: rotateY(-90deg) translateZ(180px);
  border: 5px solid #FFA615;
  background-color: white; }

#cv {
  transform: rotateX(90deg) translateZ(180px);
  border: 5px solid #12D8B1;
  background-color: white; }

#about {
  transform: rotateX(-90deg) translateZ(180px);
  border: 5px solid #FF7115;
  background-color: white; }

#physics {
  transform: rotateY(90deg) translateZ(180px);
  border: 5px solid #2373DA;
  background-color: white; }

#contact {
  transform: rotateY(180deg) translateZ(180px);
  border: 5px solid #D4AFE5;
  background-color: white; }

.active {
  width: 600px;
  height: 600px; }

#selector {
  transform: translateZ(180px);
  border: 3px solid #5C080F; }
  #selector div:hover {
    box-shadow: 0px 0px 1px 1px #777; }
  #selector div {
    height: 160px;
    width: 160px;
    position: relative;
    display: inline-block;
    margin: 8px; }
  #selector h2 {
    font-family: "Libre Baskerville", serif;
    font-spacing: 4px;
    width: 100%;
    font-size: 95%; }
  #selector p {
    display: inline;
    font-size: 95%; }
  #selector #blog-select {
    background-color: #FFA615; }
  #selector #cv-select {
    background-color: #12D8B1;
    color: white; }
  #selector #about-select {
    background-color: #FF7115;
    color: white; }
  #selector #physics-select {
    background-color: #2373DA; }

#cv-content {
  padding: 10px;
  overflow-y: auto;
  height: 100%; }
  #cv-content div#cv-header {
    background-image: url("/images/indexImages/header.jpg");
    width: 100%;
    height: 230px;
    padding: 5px;
    margin-right: 10px;
    overflow-y: auto; }
    #cv-content div#cv-header h3 {
      position: relative;
      float: left;
      margin: 3px;
      padding: 2px;
      color: #FF7115;
      border-bottom: 1px solid #FF7115; }
  #cv-content div.section h4 {
    position: relative;
    float: left;
    padding: 6px;
    margin-right: 5px; }

#blog-content .code {
  background-color: rgba(157, 157, 157, 0.63); }
#blog-content p.c-code {
  white-space: pre-wrap; }

/*# sourceMappingURL=main.css.map */
