h4 This site
p.
	My uncle once told me about the results of a study -- and while I never questioned his 
	truthfullness I also never went so far as to confirm the study's veracity. 
<p>

p.
	Either way he said that the study found that everyone who has every written anything down,
	who has wrote a story, a poem, a philosophical manifesto of some nature and has hidden it. 
	Has only done so half heartedly. In reality, we always want these little notes of ours to be
	discovered and shared. We want to be heard, read, appreciated. While at the same time feigning an air 
	of complete and willful disregard for the opinions of others and their judgement of our work. 
</p>

p.
	When viewing the programming world within this scope, I think one gains another appreciation, for all
	the blog sites, the StackOverflow questions and answers, and all the wondeful modules and extensions, which
	have been written for every language ever, which themselves have been written either from scratch or from inspiration
	from another's work. 
</p>

p.
	With that in mind I made this site, so I could contribute a few lines of code here and there, and so that instead
	of dissappearing behind the viewport of your browser, behind a pretty python generated chart, or a nameless api call, 
	my code could be seen and, perhaps, appreciated. 
</p>
