div#cv-header
div.main-section
	h4 About Me
	p I am a web engineer, physicist, mathematician, and occasional chef with a strong aptitude for creative solutions. I enjoy crafting simple and hopefully powerful user interfaces and web pages. I am always trying to learn new technologies, and perfect my own code. I find programming beautiful in much the same way as a concise math theorem, physics postulate, or a cleanly worded passage.
div.main-section
	h4 Experience
	div.experience-section
		div.dates
			div.left Web Engineer at Force Marketing  
			div.right  January 2016-Present
		ul
			li Utilizing Angular JS directives, factories, services and nested controllers to build complex forms with the ability to ajax for select options, autocomplete inputs, and generate extra content as the user requires it.
			li Creating web traffic analysis tools with python through the google analytics api and pandas data analysis
			li Building interactive and comprehensive business applications supported by jquery and angular on the frontend with php and MSSQL Server on the backend
			li Integrating results from multiple tables to decrease page load times by optimizing queries
			li Delivering new software on a weekly basis, work with a team of developers managed by jira with code base tracked through git. 
			li Designing backend architecture with modern design pattern practices to decrease rewrite and increase flexibility through interface and data models.
	div.experience-section
		div.dates
			div.left Junior PHP  Developer at Lamp Camp   
			div.right October 2015-2016
		ul
			li Worked with a team in an Agile environment fully supported by GIT; increased team productivity by creating shell scripts to update and rebase file folders automatically 
			li Designed and queried MySQL tables to manage customer order information, control task management, and identify problematic entries. 
	div.experience-section
		div.dates
			div.left Programmer and Analyst, Latha Venkataraman Research Group
			div.right Summer 2014
		ul
			li Coded log bin and linear bin histogram conversion tools into GUI’s, created data analysis software. 
			li Debugged experimental software, ranging in length from two to four thousand lines by conducting live tests
			li Worked with team members to assess software requirements and and tailor ease of use to individual members
div.main-section
	h4 Technologies
	div.technologies-section
		h6.fleft FrontEnd
		p Comfort employing the latest HTML5 technologies while maintaing cross browser flexibility and responsive page design. See other 
			a#other-end-of-cube.
				end of cube </a> for javascript examples. 
	div.technologies-section
		h6.fleft BackEnd
		p PHP, Node, Ruby on Rails
	div.technologies-section
		h6.fleft Databases
		p Microsoft SQL Server, MongoDB, 
	div.technologies-section
		h6.fleft Data
		p Python, R, Mathematica
	div.technologies-section
		h6.fleft Frameworks
		p Express, AngularJS 1.5, Laravel




