div.header-container
    h1 PenOnCode.com

    div.row
        div.col-xs-2
            span#blog-h Blog
        div.col-xs-2
            span#cv-h CV
        div.col-xs-2
            span#about-h About
        div.col-xs-2
            span#physics-h Physics
        div.col-xs-2
            span#contact-h Contact

