div.header-container
    h1 Max Grinchenko

    div.row
        div.col-xs-2
            span#blog-h Blog
                span.glyphicon.glyphicon-comment
        div.col-xs-2
            span#cv-h CV
                span.glyphicon.glyphicon-cutlery
        div.col-xs-2
            span#about-h About
                span.glyphicon.glyphicon-hourglass
        div.col-xs-2
            span#physics-h Physics
                span.glyphicon.glyphicon-magnet
        div.col-xs-2
            span#contact-h Contact
                span.glyphicon.glyphicon-phone-alt


